html, body {
  width: 100vw;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
  color:white;
  font-family: "Verdana";
}

.hidden {
  display: none;
}

h1 {
  font-size: 3em;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: cursive;
}

.center {
  text-align: center;
}

#proposition {
  font-size: 10em;
  margin-top : 5px;
  margin-bottom : 5px;
}
